@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    width: 150px;
    height: auto;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content h1 {
    text-align: center;
    margin-bottom: 10px;
}

.content p {
    text-align: center;
    margin-bottom: 20px;
}

.window {
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window img {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text-content {
    width: 100%;
    text-align: center;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.arrow-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.arrow-button:hover {
    color: #ccc;
}

.arrow-button#leftButton {
    margin-left: 20px;
}

.arrow-button#rightButton {
    margin-right: 20px;
}
